<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title>Secret Page</title>
  </head>
  <body class="h-screen text-white bg-gray-900">
    <main class="flex flex-col items-center h-full">
      <nav class="w-full bg-gray-800 py-4 shadow-lg mb-8">
        <ul class="flex justify-center space-x-6">
          <li>
            <a href="/register" class="text-lg hover:text-gray-400">Register</a>
          </li>
          <li>
            <a href="/login" class="text-lg hover:text-gray-400">Login</a>
          </li>
          <% if (user) { %>
          <li>
            <a href="/logout" class="text-lg hover:text-gray-400">Logout</a>
          </li>
          <li>
            <a href="/secret" class="text-lg hover:text-gray-400"
              >Secret Page</a
            >
          </li>
          <% } else { %>
          <li>
            <a href="/logout" class="text-lg hover:text-gray-400">Logout</a>
          </li>
          <% } %>
        </ul>
      </nav>

      <div class="bg-gray-700 p-6 rounded-lg shadow-lg max-w-md w-full">
        <h1 class="text-3xl font-bold mb-4 text-center">
          Welcome to the Secret Page
        </h1>
        <p class="text-center text-lg mb-4">
          You have successfully accessed a restricted page. Enjoy your stay!
        </p>
        <div class="text-center mt-6">
          <a href="/" class="text-blue-400 hover:text-blue-300"
            >Go back to Home</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
